body{
  background: #eeeeee none repeat scroll top left!important;
}
.fa.fa-home
{
  font-size: 20px;
}
.main-menu-active.active>a {
  padding: 15px;
}
.current{
  
  background-color:black;
  color:white;
}
.main-menu-active.active{
  background-color: #008aca;
}
.share-post{
  margin-top: -3%;
}
.navbar-inverse .navbar-nav>li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 11px;
}
.main-menu-active:hover{
  background-color: #008aca;
}

.nav>li {
  display: block;
}
.share-badge{
  background-color: #d6d6d6;
  color: #989696;
}
.navbar-inverse .navbar-nav > li > a:hover
{
 text-decoration: none;
}
.navbar-nav .active {
  background-color: #0b82b7;
}
.navbar-nav li:hover{
  background-image: url(up_arrow.png) !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  background-color: #0b82b7;
}
.navbar-nav .active a{
  background-image: url(up_arrow.png) !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  padding: 15px;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
}
.main-container
{
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px !important;
  box-shadow: 0 0 1px rgba(170, 170, 170, 0.36);
  background-color: #fff;
  max-width: 1200px;
}
.search-model-content{background-color: transparent;}
.navbar-logo img{
  width: 21%;
  margin-bottom: -7%;
}
.demo-icon img{
  width: 80px;
}
.my-nav{
  background-color: #09a3e7;
  position: relative;
  width: 1213px;
  left: -6px;
  box-shadow: 0px 10px 10px #c5c5c3;
  z-index: 999;
}

.my-nav::before {
  border-bottom: 6px solid transparent;
  border-right: 6px solid #09a3e7;
  border-top: 4px solid transparent;
  bottom: -6px;
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  width: 5px;
}
.my-nav::after {
  border-bottom: 6px solid transparent;
  border-left: 7px solid #09a3e7;
  border-top: 0px solid transparent;
  bottom: -6px;
  content: "";
  height: 0;
  right: 0px;
  position: absolute;
}
.nav-item2 a{
  color: #fff;
  padding-left: 23px;
  font-weight: bold;
}
.nav-item a{ 
  color: #fff;
}
.nav-item2 a:hover, .nav-item a:hover{
  text-decoration: none; 
  color: #cccaca;
}
.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  width: 281px;
  height:350px;
}
.item .card:hover{
  transform: scale(1.05) rotate(1deg);
  opacity: 0.8;
  transition: all 0.3s ease;
}
a:hover{
  text-decoration: none;
}
.owl-prev,
.owl-next, .fa.fa-chevron-right,.fa.fa-chevron-left{
  font-size: 11px!important;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50px;
}
.owl-theme .owl-nav .disabled{visibility: hidden;}
.owl-theme .owl-nav [class*='owl-'] {
  margin: -17% 1% 1% 1%!important;
  font-size: 17px!important;
  padding: 0px 6px 1px!important;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0px!important;
  opacity: 1!important;

}

.home-link {
  margin-bottom: -5%;
  margin-top: 5%;
  background: #eeeeee;
  width: 10%;
  margin-left:47%;
  padding: 8px;
}
.home-link a {
  color: #000;
}
.home-link a:hover{color: #fff;text-decoration: none;}
.home-link:hover{background-color: #0676be; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{display: none;}
.owl-prev {
  left: 32rem;
  display: none;
}
.owl-next {
  right: 1rem;
  display: none;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
  display: none !important; 
}
.owl-theme .owl-dots {display: none;}
.main-jumbo{
  background-color: #ffffff;
}
.slider-img img
{
  width: 290px;
  height: 170px;
}
.gallery-section{
  margin-left: -1%;
  margin-top: 2%;
  margin-right: 3%;
}
.gallery-section .card-img-overlay{
  width: 290px;
  background: rgba(6, 6, 6, 0.36);
}
.gallery-section .card-img-overlay .favourite-posts-overlay{
  margin-top: 27%;
  margin-left: -4%;
}
.favourite-posts-title1 p{ 
  font-size:14px;
  margin-bottom: 0px;
  color: #fff;
}
.favourite-posts-title1:hover{
  text-decoration: none;
}
.media img{
  width: 340px;
  height: 270px;
}
.media img:hover{
  transform: scale(1.05);
  opacity: 0.8;
  transition: all 0.3s ease;
}
.gallery-section .card:hover{
 transform: scale(1.01);
 opacity: 0.8;
  transition: all 0.3s ease;
}
.special-color-dark{
  background-color: #0d4069;
  color: #fff;
}
.media .post-img{
  height: 71px;
  width: 28%;
}
.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  border-radius: 50px;
}

.media .news-small-img{
  width: 23px;
  height: 23px;
  border-radius: 50px;
}
.media-para{
  color: #222222;
}
.media-body-para a{
  color: #888;
}
.blog-sidebar .card{
  width: 330px;
  margin-left: 18%;
}
.category-sidbar .card{
  width: 330px;
  margin-left: 0%;
}
.media-para abbr{
  text-decoration: none;
}
.post-title a{
  color: #444444;
  font-size: 27px;
}
.post-title a:hover, .archivedate a:hover, .media-link:hover, 
.copy-right a:hover, .media-para abbr:hover,.card-link-text a:hover {
  text-decoration: none;
  color: #007bff;
}
.read-more-btn{
  background: linear-gradient(to left, #09a3e7, #475993);
  color: #fff;
  border:none;
  border-radius: 3px;
  font-size: 13px;
  padding: 5px 21px 5px 23px;
  background-color: white;
}
.read-more-btn:hover{
  color: #000;
  text-decoration: none;
}
.archivedate a
{color: #444444;}

.navbar-expand-lg .navbar-collapse1{
  display: flex !important;
  flex-basis: auto;
}
.copy-right p{
  color: #555;
  font-family: 'Lato';
}
.copy-right a{
  color: #555;
  font-family: 'Lato';
}
.media-link{
  color: #444444;
  font-size: 14px;
}
.search-icon{
  margin: -24px 27px 0px 0px;
}
.favourite-category:hover, .favourite-posts-title:hover,.media-body-para a:hover{
  text-decoration: none;
}
.favourite-category {
  color: #fff !important;
  display: inline-block !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  border-radius: 1px;
  line-height: normal !important;
  padding: 2px 10px !important;
  position: relative;
  text-transform: uppercase !important;
  margin-bottom: 5px;
  z-index: 2;
  background: #0277bd;
  background: -webkit-linear-gradient(to left, #0277bd, #8e54e9);
  background: linear-gradient(to left, #09a3e7, #475993);
}
.favourite-posts-title p{
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.card-overlay-text{
  background: rgba(6, 6, 6, 0.21);
  width: 100%;
}
.favourite-posts-overlay{
  margin-top: 35%;
}
.show-img img{ 
  width: 56%;
  height: 269px;
}
.post-footer-icon {
  width: 22px;
  font-size: 18px;
  color: #b9bec3;
  float: right;
  display: inline-block;
}
.post-footer-title {
  line-height: 19px;
  text-transform: capitalize;
  color: #444444;
  text-align: left;
  border-bottom: 2px solid #0277bd;
  display: inline-block;
  bottom: -2px;
  position: relative;
}
.show-card-image{
  width: 212px;
  height: 162px;
}
.verticle-line{
  width: 1px;
  height: 300px;
}
.comment-img {
  width: 53%;
}
ul.post-pager {
  display: block;
  width: 100%;
  max-height: 95px;
  overflow: hidden;
  background: #fff;
}


.post-pager-title span{font-size: 12.5px;}

.social-buttons .fa.fa-facebook {
  background-color: #475993;
  height: 34px;
  width: 35px;
  border-radius: 50px;
  text-align: center;
  line-height: 33px;
  color: #fff;
}
.social-buttons .fa.fa-twitter {
  background-color: #09a3e7;
  height: 34px;
  width: 35px;
  border-radius: 50px;
  text-align: center;
  line-height: 33px;
  color: #fff;
}
.signin-facbook-button {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
  font-size: 14px;
  font-family: inherit;
  font-style: initial;
}
.signin-btn-google {
  color: #fff;
  background-color: #DD4B39;
  border-color: rgba(0,0,0,0.2);
  font-size: 14px;
  font-family: inherit;
  font-style: initial; 
} 
.btn-reg, .btn-reg1 {
  padding: 8px 16px !important;
}  
.comment-textarea{
  margin-left: -10%;
  width: 628px;
  border-width: 2px;
}
.show-container {
  position: relative;
  text-align: center;
  color: white;
  background: linear-gradient(to left, #0277bd, #8e54e9);
  height: 288px;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered a{color: #fff;}
.centered a:hover{color:#000;}
.search-box-close {
  position: absolute;
  top: 80px;
  font-size: 40px;
  -webkit-transition: transform ease-out .2s;
  -moz-transition: transform ease-out .2s;
  -ms-transition: transform ease-out .2s;
  -o-transition: transform ease-out .2s;
  transition: transform ease-out .2s;
  transform: rotate(0deg);
  color: #0277bd;
  margin-left: 161%;
}
.search-model{
  background-color: rgba(255, 255, 255, 0.94); 
  opacity: 0.9;
}
.search-box-close:hover {
  transform: rotate(90deg);
  color: #000;
}
.search-box-wrapper {
  display: inline-block;
  max-width: 1000px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  transition: all ease-in-out .3s;
  margin-top: 25%;
  margin-left: -31%;
}
.search-box-wrapper p {
  font-size: 14px;
  margin-bottom: 40px;
  color: #666;
  letter-spacing: 2px;
  text-transform: uppercase;
}
input.search-input {
  width: 800px;
  background-color: transparent;
  border-bottom: 2px dotted #333 !important;
  border: 0;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  color: #444;
  margin-top: -5%;
}
.search-box-wrapper .fa-search {
  font-size: 25px;
  position: absolute;
  right: -37%;
  top: 95%;
}
.search-box-wrapper input[type="submit"] {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
.form-search{margin-left: -7%;}
.sign-out-btn {
  margin-right: 24% !important;
  margin-left: -24% !important;
  background: #fa8223!important;
  color: #fff;
  padding: 8px 12px 8px 16px;
  border-radius: 6px;
}
/*
pagination css*/

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
  background: #eee;
  padding: 0px 53px;
  border: 1px solid #eee;
  border-radius: 20px 0 0 20px;
}
.pagination a:hover, .pagination span.current, .pagination span.gap{
  background-color: #0676be;
}
.pagination .page{
  display: none;
}

.pagination {
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    border: none;
  }
  .next a,.prev a{color:#000;}
  .next a:hover,.prev a:hover{color: #fff;}
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
.signin-btn
{
  background: #ff6d00;
  text-align: center;
  padding: 9px 21px 10px 35px;
  border-radius: 5px;
  color: #fff;
}


.header-social-icon{
  margin-right: 10%;
  margin-top: -3%;

}
.signin-btn a{color: #fff;}
.signin-btn:hover, .sign-out-btn:hover{text-decoration: none;color:#fff;}
.search_collapse{margin-top: -2%;margin-left: 72%;}
.buttons{margin-top: -2%;}
.card-link-text a{color: #000;}
@media screen and (min-width: 320px) and (max-width: 575px){
  .main-container{
    max-width:353px;
  }
  .owl-prev,
  .owl-next{
    position: unset;
  } 
  .my-nav{
    width: 355px;
    padding: 6px;
    margin-left: 1%;
  }
  .signin-btn{
    padding: 7px 7px 7px 10px;
    border-radius: 0px;
    font-size: 11px;
  }
  .owl-carousel .item img{
    height: 228px;
  }
  .my-nav::before, .my-nav::after  {
  display: none;
  }
  .owl-theme .owl-nav [class*='owl-']{
    margin: -13% 1% 1% 1% !important;
  }
  .favourite-posts-overlay{
    margin-top: 20%;
  }
  .gallery-section{
    margin-left: 3%;
    margin-right: 0%;
    margin-top: 4%;
  }
  .slider-img img,.gallery-section .card-img-overlay
  { 
    width: 97%;
    margin-bottom: 4%;
    height: 228px;

  }
  .owl-theme .owl-nav{
    margin: -62% 0% 34% 81% !important;
  }
  .media{
    display: block;
  }
  .media img{
    width: 100%;
    height: 228px;
  }
  .blog-sidebar .card{
    width: 100%;
    margin-left: 0%;
  }
  .post-media .media{
    display: inline-flex!important;
  }
  .gallery-section .card-img-overlay .favourite-posts-overlay{
    margin-top: 42%;
  }
  .show-img img{
    height: 190px;
    width: 100%;
  }
  .like-img .show-card-image{
    width: 100%;
    height: 190px;
  }
 .navbar-nav a{
    color:#ffffff;
    font-size: 18px;
    font-weight: bold;
  }
  .nav > li{
    padding: 10px;
    border-bottom: 1px solid #c5c5c5;
  }
  .navbar-nav{
    background-color: #d8d8d8;
    margin-top: 4%;
    width: 96%;
    margin-left: 2%;
  }
  .owl-prev{
    left: 39.4rem; 
  }
}

@media screen and (min-width: 576px) and (max-width: 767px)
  {
    .nav-item2 a{
      color: #fff;
      padding-left: 0px;
    }
    .post-media .media{
      display: inline-flex!important;
    }
    .media{
      display: block;
    }
    .media img{
      width: 100%;
    }
    .main-container
    {
      max-width: 540px;
    }
    .navbar-collapse{
      min-width: 200px;
      position: absolute;
      top: 57px;
      margin-left: -3%;
      background: #f4f4f4;
      z-index: 99;
      box-shadow: 0px 1px 3px rgba(66, 66, 66, 0.24); 
    }

    .navbar-collapse a
    {
      color: #444;
      font-size: 15px;
      font-family: 'Overpass';
      margin-left: 7%;
    }
    .navbar-collapse li{
      border-bottom: 1px solid #dcdada;
    } 
    #owl-demo1 .item img{
      width: 100%;
      height: 247px;
    }
    .sm-para{font-size: 14px;}
    .search-icon{
      margin: 2px 7px 0px 0px;
    }
    .show-card-image {
      width: 100%; 
      height: 280px;
    }
    .show-container{height: 176px;}
    .centered{    
      left: 50%;
      width: 87%;}
    
    .blog-sidebar .card {
      width: 100%;
      margin-left: 0%;
    }
    .category-sidbar .card{width: 100%;}
    .show-img img{width: 100%;}
    ul.post-pager{max-height: 190px!important;}
    .search-box-close{    
      margin-left: 85%;
      margin-top: -7%;}
    .search-box-wrapper{margin-left: -53%;}
    .search-box-wrapper p{    
      font-size: 12px;
      margin-left: 79%;
      width: 270px;
      margin-bottom: 3%;
    }
    input.search-input{margin-left: 69%;width: 336px;}
    .search-box-wrapper .fa-search{left:94%;}
    .pagination a, .pagination span.current, .pagination span.gap{
      padding: 0px 18px;
    }
    .home-link{
      margin-left: 38%;
      padding: 6px;
      width: 19%;
      margin-bottom: -10%;
    }
    .my-nav{
      width: 553px;
    }
    .navbar-nav{
      background-color: #d8d8d8;
      margin-top: 2%;
      width: 96%;
      margin-left: 2%;
    }
    .navbar-nav a{
      color:#ffffff;
      font-size: 18px;
      font-weight: bold;
    }
    .nav > li{
      padding: 10px;
      border-bottom: 1px solid #c5c5c5;
    }
    .gallery-section{
      margin-left: 2%;
      margin-right: 1%;
      margin-top: -10%;
    }
    .slider-img img, .gallery-section .card-img-overlay{
      width: 256px;
    }
    .signin-btn{
      padding: 7px 9px 6px 15px;
      font-size: 13px;
      border-radius: 0px;
    }
    .owl-theme .owl-nav [class*='owl-']{
      margin: -22% -1% -19% 3% !important;
    }
    .owl-prev{
      left: 28.3rem !important;
    }
    .favourite-posts-overlay{
      margin-top: 46%;
    }
    .like-img .show-card-image{
      width: 100%;
      height: 100px;
    }
  }
@media screen and (min-width: 768px) and (max-width: 991px)
  {
    .navbar-collapse{
      position: absolute;
      z-index: 99;
    }
    .navbar-collapse a
    {
      color: #444;
      font-size: 15px;
      font-family: 'Overpass';
      margin-left: 7%;
    }
    .navbar-collapse li{
      border-bottom: 1px solid #dcdada;
    } 
    #owl-demo .item img{
      width: 100%;
      height: 360px;
    }
    .signin-btn {
      padding: 7px 13px 7px 13px;
      border-radius: 0px;
      font-size: 13px;
    }
    .media .post-img{
      width: 110px
    }
    .search-icon{
      margin: 2px 28px 0px 0px;
    }
    .blog-sidebar .card{
      width: 100%;
      margin-left: 0%;
    }
    .search-box-close{margin-left: 112%;margin-top: -12%;}
    input.search-input{
      margin-top: -7%;
      margin-left: 31%;
      width: 465px;
    }
    .search-box-wrapper p{
      margin-left: 28%;
      width: 500px;
      margin-top: -10%;
    }
    .search-box-wrapper .fa-search{margin-right: 37%;}

    .my-nav{
      width: 733px;
    }
    .main-container{
      width: 720px;
    }
    .gallery-section{
      margin-left: 1.8%;
      margin-top: -7%;
      margin-right: 0%;
    }
    .slider-img img, .gallery-section .card-img-overlay{
      width: 337px;
    }
    .navbar-nav{
      background-color: #d8d8d8;
      margin-top: 2%;
      width: 96%;
      margin-left: 2%;
    }
    .navbar-nav a{
      color:#ffffff;
      font-size: 18px;
      font-weight: bold;
    }
    .nav > li{
      padding: 10px;
      border-bottom: 1px solid #c5c5c5;
    }
    .owl-prev{
      left: 39.4rem; 
    }

  }
@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar-logo h1{
      font-size: 34px!important;
    }

    .slider-img img, .gallery-section .card-img-overlay{ 
      width: 229px;
    }
   
    .nav-item2 a{
      padding-left: 33px;
    }
    .show-card-image {
      width: 173px;
      height: 162px;
    }
    .search-box-close{
      margin-left: 137%;
    }
    .my-nav{
      width: 973px;
      margin-left: 0%;
    }
    .main-container{
      max-width: 960px;
    }
    .blog-sidebar .card{width: 296px;margin-left: 3%;}
    .owl-prev{
      left: 24.8rem !important;
    }
    .owl-theme .owl-nav [class*='owl-']{
      margin: -24% -1% -19% 3% !important;
    }
  }