
body{
  background: #eeeeee none repeat scroll top left!important;
}
.main-container
{
  margin: auto;
  max-width: 1200px;
  margin-top: 25px;
  margin-bottom: 25px !important;
  box-shadow: 0 0 1px rgba(170, 170, 170, 0.36);
  background-color: #fff;
}
.navbar-logo img{
  width: 30%;
}
.demo-icon img{
  width: 80px;
}
.my-nav{
  background-color: #2f4a61;
}
.nav-item2 a{
  color: #fff;
  padding-left:49px;
  font-weight: bold;
}
.nav-item a{ 
  color: #fff;
}
.nav-item2 a:hover, .nav-item a:hover{
  text-decoration: none; 
  color: #cccaca;
}
.owl-carousel .item{
  margin: 3px;
}
/*.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}*/
.owl-carousel .item img{
  width: 281px;
  height: 232px;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #040404 !important;
  padding: 10px 15px !important;
  background: #fff !important;
  display: inline-block !important;
  cursor: pointer !important;
  border-radius: 50px !important;

}

.owl-prev {
  left: 1rem;
  display: none;

}

.owl-next {
  right: 1rem;
   display: none;

}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
     display: block !important; 
}
.owl-theme .owl-dots .owl-dot span{display: none;}

.owl-theme .owl-dots {display: none;}
.main-jumbo{
  background-color: #f8f8f8!important;
}
.media img{
  width: 340px;
  height: 270px;
}
.media .post-img{
  height: 71px;
  width: 28%;
}

.media .news-small-img{
  width: 23px;
  height: 23px;
  border-radius: 50px;
}
.media-para{
  color: #222222;
}
.media-body-para a{
  color: #888;
}
.blog-sidebar .card{
  width: 330px;
  margin-left: 20%;
}
.category-sidbar{
  width: 330px;
  margin-left: 0%;
}
.media-para abbr{
  text-decoration: none;
}
.post-title a{
  color: #444444;
  font-size: 27px;
}
.post-title a:hover, .archivedate a:hover, .media-link:hover, 
.copy-right a:hover, .media-para abbr:hover{
  text-decoration: none;
  color: #007bff;
}
.read-more-btn{
  background: linear-gradient(to left, #0277bd, #8e54e9);
  color: #fff;
  border:none;
  border-radius: 3px;
  font-size: 13px;
  padding: 5px 21px 5px 23px;
  background-color: white;
}
.archivedate a
{color: #444444;}

.navbar-expand-lg .navbar-collapse1{
  display: flex !important;
  flex-basis: auto;
}
.copy-right p{
  color: #555;
  font-family: 'Lato';
}
.copy-right a{
  color: #555;
  font-family: 'Lato';
}
.media-link{
  color: #444444;
  font-size: 14px;
}
.search-icon{
  margin: -24px 27px 0px 0px;
}
.favourite-category:hover, .favourite-posts-title:hover,.media-body-para a:hover{
  text-decoration: none;
}
.favourite-category {
  color: #fff !important;
  display: inline-block !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  border-radius: 1px;
  line-height: normal !important;
  padding: 2px 10px !important;
  position: relative;
  text-transform: uppercase !important;
  margin-bottom: 5px;
  z-index: 2;
  background: #0277bd;
  background: -webkit-linear-gradient(to left, #0277bd, #8e54e9);
  background: linear-gradient(to left, #0277bd, #8e54e9);
}
.favourite-posts-title p{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
.card-overlay-text{
  background: rgba(6, 6, 6, 0.21);
}
.favourite-posts-overlay{
  margin-top: 35%;
}
.show-img img{ 
  width: 56%;
  height: 269px;
}
.post-footer-icon {
  width: 22px;
  font-size: 18px;
  color: #b9bec3;
  float: right;
  display: inline-block;
}
.post-footer-title {
  line-height: 19px;
  text-transform: capitalize;
  color: #444444;
  text-align: left;
  border-bottom: 2px solid #0277bd;
  display: inline-block;
  bottom: -2px;
  position: relative;
}
.show-card-image{
  width: 212px;
  height: 162px;
}
.verticle-line{
  width: 1px;
  height: 300px;
}
.comment-img {
  width: 53%;
}
ul.post-pager {
  display: block;
  width: 100%;
  max-height: 95px;
  overflow: hidden;
  background: #fff;
}
.post-pager li {
  padding: 0;
  display: table-cell;
  width: 45%;
  float: right;
  overflow: hidden;
}
.post-pager-title span{font-size: 12.5px;}
.previous,{
  margin-right: 10%;
    margin-top: 2%;
  }
  .fa.fa-facebook {
    background-color: #475993;
    height: 34px;
    width: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 33px;
    color: #fff;
  }
  .fa.fa-twitter {
    background-color: #09a3e7;
    height: 34px;
    width: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 33px;
    color: #fff;
  }
  .comment-textarea{
    margin-left: -10%;
    width: 628px;
    border-width: 2px;
  }
  .show-container {
    position: relative;
    text-align: center;
    color: white;
    background: linear-gradient(to left, #0277bd, #8e54e9);
    height: 288px;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered a{color: #fff;}
  .centered a:hover{color:#000;}

 
@media screen and (max-width: 575px)
{
  .nav-item2 a{
    color: #fff;
    padding-left: 0px;

  }
  .media{
    display: block;
  }
  .media img{
    width: 100%;
  }
  .main-container
  {
    margin-top: 0%;
  }
  .navbar-collapse{
    min-width: 200px;
    position: absolute;
    top: 57px;
    margin-left: -3%;
    background: #f4f4f4;
    z-index: 99;
    box-shadow: 0px 1px 3px rgba(66, 66, 66, 0.24); 
  }
 
  .navbar-collapse a
  {
    color: #444;
    font-size: 15px;
    font-family: 'Overpass';
    margin-left: 7%;
  }
  .navbar-collapse li{
    border-bottom: 1px solid #dcdada;
  } 
  #owl-demo1 .item img{
    width: 100%;
    height: 247px;
  }
  .sm-para{font-size: 14px;}
  .search-icon{
    margin: 2px 7px 0px 0px;
  }
  .show-card-image {
    width: 100%; 
    height: 280px;
  }
  .show-container{height: 176px;}
  .centered{    
    left: 50%;
    width: 87%;}
  .media .post-img{
    width: 100%;
    height: auto;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
  .navbar-collapse{
    min-width: 200px;
    position: absolute;
    top: 57px;
    margin-left: -2%;
    background: #f4f4f4;
    z-index: 99;
    box-shadow: 0px 1px 3px rgba(66, 66, 66, 0.24); 
  }
  .navbar-collapse a
  {
    color: #444;
    font-size: 15px;
    font-family: 'Overpass';
    margin-left: 7%;
  }
  .navbar-collapse li{
    border-bottom: 1px solid #dcdada;
  } 
  #owl-demo .item img{
    width: 100%;
    height: 148px;
  }
  .media .post-img{
    width: 110px
  }
  .search-icon{
    margin: 2px 28px 0px 0px;
  }
  
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .navbar-logo h1{
    font-size: 34px!important;
  }
  #owl-demo .item img {
    width: 237px;
    height: 198px;
  }
  .nav-item2 a{
    padding-left: 33px;
  }
  .show-card-image {
    width: 173px;
    height: 162px;
  }
}