body{
  background: #eeeeee none repeat scroll top left!important;
}
.main-container
{
  margin: auto;
  max-width: 1200px;
  margin-top: 25px;
  margin-bottom: 25px !important;
  box-shadow: 0 0 1px rgba(170, 170, 170, 0.36);
  background-color: #fff;
}
.navbar-logo{
  color: #0277bd;
}
.navbar-logo:hover{
  text-decoration: none;
}
.demo-icon img{
  width: 80px;
}
.my-nav{
  background-color: #0277bd;
}
.nav-item2 a{
  color: #fff;
  padding-left:73px;
}
.nav-item2 a:hover{
  text-decoration: none; 
  color: #cccaca;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
#owl-demo .item img{
  width: 281px;
  height: 232px;
}
.owl-theme .owl-dots {display: none;}
.main-jumbo{
  background-color: #f8f8f8!important;
}
.media img{
  width: 44%;
  height: 276px;
}
.media .post-img{
  height: 71px;
  width: 28%;
}

.media .news-small-img{
  width: 23px;
  height: 23px;
  border-radius: 50px;
}
.media-para abbr{
  text-decoration: none;
}
.post-title a{
  color: #444444;
  font-size: 27px;
}
.post-title a:hover, .archivedate a:hover, .media-link:hover, .copy-right a:hover{
  text-decoration: none;
  color: #007bff;
}
.read-more-btn{
  background: linear-gradient(to left, #0277bd, #8e54e9);
  color: #fff;
  border:none;
  border-radius: 3px;
  font-size: 13px;
  padding: 5px 21px 5px 23px;
  background-color: white;
}
.archivedate a
{color: #444444;}

.navbar-expand-lg .navbar-collapse1{
  display: flex !important;
  flex-basis: auto;
}
.copy-right p{
  color: #555;
  font-family: 'Lato';
}
.copy-right a{
  color: #555;
  font-family: 'Lato';
}
.media-link{
  color: #444444;
  font-size: 14px;
}
.search-icon{
  margin: -24px 27px 0px 0px;
}
@media screen and (max-width: 575px)
{
  .nav-item2 a{
    color: #fff;
    padding-left: 0px;

  }
  .media{
    display: block;
  }
  .media img{
    width: 100%;
  }
  .main-container
  {
    margin-top: 0%;
  }
  .navbar-collapse{
    min-width: 200px;
    position: absolute;
    top: 57px;
    margin-left: -3%;
    background: #f4f4f4;
    z-index: 99;
    box-shadow: 0px 1px 3px rgba(66, 66, 66, 0.24); 
  }
  .navbar-collapse a
  {
    color: #444;
    font-size: 15px;
    font-family: 'Overpass';
    margin-left: 7%;
  }
  .navbar-collapse li{
    border-bottom: 1px solid #dcdada;
  } 
  #owl-demo1 .item img{
    width: 100%;
    height: 247px;
  }
  .sm-para{font-size: 14px;}

}
@media screen and (min-width: 768px) and (max-width: 991px)
{
  .navbar-collapse{
    min-width: 200px;
    position: absolute;
    top: 57px;
    margin-left: -2%;
    background: #f4f4f4;
    z-index: 99;
    box-shadow: 0px 1px 3px rgba(66, 66, 66, 0.24); 
  }
  .navbar-collapse a
  {
    color: #444;
    font-size: 15px;
    font-family: 'Overpass';
    margin-left: 7%;
  }
  .navbar-collapse li{
    border-bottom: 1px solid #dcdada;
  } 
  #owl-demo .item img{
    width: 100%;
    height: 148px;
  }
  .media .post-img{
    width: 110px
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .navbar-logo h1{
    font-size: 34px!important;
  }
  #owl-demo .item img {
    width: 237px;
    height: 198px;
  }
  .nav-item2 a{
    padding-left: 44px;
  }
}