<hr class="mt-5 mb-0">
<!-- <div class="footer pt-2 pb-2">
  <div class="copy-right text-center">
    <p>
      All Rights Reserved by 
      <a href="#">
        Pariksharthi <%#= Time.current.year %>
      </a>
    </p>
  </div>
  <div class="d-sm-none">
    <div class="text-center d-flex flex-row justify-content-center">
      <div class="p-2 social-buttons"><a href="https://www.facebook.com/pariksharthi.in/" class="text-dark"><i class="fa fa-facebook"></i></a></div>
      <div class="p-2 social-buttons"><a href="https://www.twitter.com/pariksharthi" class="text-dark"><i class="fa fa-twitter"></i></a></div>
      <div class="p-2"><i class="fa fa-instagram"></i></div>
      <div class="p-2"><i class="fa fa-youtube"></i></div>
    </div>
  </div>  
  <div class="d-sm-block d-none ">
    <div class="d-flex flex-row justify-content-center">
      <div class="p-2 social-buttons"><a href="https://www.facebook.com/pariksharthi.in/" class="text-dark"><i class="fa fa-facebook"></i></a></div>
      <div class="p-2 social-buttons"><a href="https://www.twitter.com/pariksharthi" class="text-dark"><i class="fa fa-twitter"></i></a></div>
      <div class="p-2"><i class="fa fa-instagram"></i></div>
      <div class="p-2"><i class="fa fa-youtube"></i></div>
    </div>
  </div>
</div> -->
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-3 pb-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/pariksharthi.in/">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1 text-white" href="https://www.twitter.com/pariksharthi">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
       <!--  <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google-plus"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fa fa-linkedin"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fa fa-dribbble"> </i>
          </a> -->
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 mt-0">All Rights Reserved by 
      <a href="https://mdbootstrap.com/bootstrap-tutorial/">Pariksharthi <%= Time.current.year %></a>
    </div>
    <!-- Copyright -->

  </footer>

