<hr class="mt-5">
<div class="footer pt-2 pb-2">
  <div class="copy-right text-center">
    <p>
      All Rights Reserved by 
      <a href="#">
        Pariksharthi <%= Time.current.year %>
      </a>
    </p>
  </div>
  <div class="d-sm-none">
    <div class="text-center d-flex flex-row justify-content-center">
      <div class="p-2"><a href="https://www.facebook.com/pariksharthi.in/" class="text-dark"><i class="fa fa-facebook"></i></a></div>
      <div class="p-2"><a href="https://www.twitter.com/pariksharthi" class="text-dark"><i class="fa fa-twitter"></i></a></div>
      <!-- <div class="p-2"><i class="fa fa-instagram"></i></div>
      <div class="p-2"><i class="fa fa-youtube"></i></div> -->
    </div>
  </div>  
  <div class="d-sm-block d-none ">
    <div class="d-flex flex-row justify-content-center">
      <div class="p-2"><a href="https://www.facebook.com/pariksharthi.in/" class="text-dark"><i class="fa fa-facebook"></i></a></div>
      <div class="p-2"><a href="https://www.twitter.com/pariksharthi" class="text-dark"><i class="fa fa-twitter"></i></a></div>
      <!-- <div class="p-2"><i class="fa fa-instagram"></i></div>
      <div class="p-2"><i class="fa fa-youtube"></i></div> -->
    </div>
  </div>
</div>